# 忽略 VSCode 的工作台設定檔案
*.code-workspace

# 忽略 macOS 系統自動生成的 .DS_Store 檔案與資料夾圖標
.DS_Store
Icon?

# 忽略其他
memo.md

# Derived Data
DerivedData/
build/

# User Data
*.xcuserdatad/
*.xcscmblueprint/
*.xcuserdata/

# CocoaPods
Pods/

# Carthage
Carthage/Checkouts
Carthage/Build

# Logs
*.log

# Swift Package Manager
.swiftpm/

# Temporary files
*.swp
*.swo

# 保護 git-crypt 設定
!.gitattributes
!.git-crypt/
